<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="myPageApp">
<head>
    <!--
    Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
    Some notes:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
            * Enable inline JS: add 'unsafe-inline' to default-src
    -->
    <!--<meta http-equiv="Content-Security-Policy"-->
    <!--content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">-->
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title>VGI Vendor</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
    <!--<link href="css/jquery.mobile-1.4.5.min.css" rel="stylesheet" media="screen">-->

    <link rel="stylesheet" href="js/morris.js/morris.css">
    <link rel="stylesheet" href="css/chartist.min.css">

    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body ng-controller="myPageCtrl" style="background-color:transparent">
<div class="head-gap"></div>
<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <a class="navmenu-brand" href="#">Brand</a>
    <ul class="nav navmenu-nav">
        <li ng-class="{'active':page=='home'}"><a href="#" ng-click="page='home';"
                                                  onclick="$('#myNavmenu').offcanvas('hide')">Home</a></li>
        <li ng-class="{'active':page=='inbox'}"><a href="#" ng-click="page='inbox'"
                                                   onclick="$('#myNavmenu').offcanvas('hide')">Inbox</a></li>
        <li ng-class="{'active':page=='qr'}"><a href="#" ng-click="page='qr'"
                                                onclick="$('#myNavmenu').offcanvas('hide')">QR Scan</a></li>
    </ul>
</nav>
<div class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle pull-left" data-toggle="offcanvas" data-target="#myNavmenu"
            data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <span class="head-text">MR.Shake</span>
</div>
<div class="clearfix"></div>

<div class="main-content" style="width: 100%">
    <div class="container-fluid page-home" ng-show="page=='home'" onclick="$('#myNavmenu').offcanvas('hide')">
        <div class="">
            <div class="col-xs-4">
                <div class="box-top box-view" ng-click="graph='view'" onclick="viewCircle()">
                    <div id="box-view"></div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="box-top box-click" ng-click="graph='click'" onclick="clickCircle()">
                    <div id="box-click"></div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="box-top box-redeem" ng-click="graph='redeem'" onclick="redeemCircle()">
                    <div id="box-redeem"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="detail">
            <div class="col-xs-4">
                <li class="tab" ng-show="graph=='view'"></li>
            </div>
            <div class="col-xs-4">
                <li class="tab" ng-show="graph=='click'"></li>
            </div>
            <div class="col-xs-4">
                <li class="tab" ng-show="graph=='redeem'"></li>
            </div>
            <div class="col-xs-12 graph" ng-show="graph=='view'">

                <div id="graph-view"></div>
                <span class="date">21 ตุลาคม 2558</span>
            </div>
            <div class="col-xs-12 graph" ng-show="graph=='click'">

                <div id="graph-click"></div>
                <span class="date">21 ตุลาคม 2558</span>
            </div>
            <div class="col-xs-12 graph" ng-show="graph=='redeem'">

                <div id="graph-redeem"></div>
                <span class="date">21 ตุลาคม 2558</span>

            </div>
            <div class="clearfix"></div>
        </div>

        <div class="detail">
            <div class="col-xs-8 detail-left">
                <div ng-repeat="topic in topics track by $index" class="topic" ng-click="setTopic($index)"
                     ng-class="{'active':activeIndex == $index}">
                    <span class="k">{{topic.k}}</span>

                    <div class="g" style="width: {{topic.v/100*60}}%"></div>
                    <div class="v">{{topic.v}}</div>
                    <div class="tri"></div>
                </div>
            </div>
            <div class="col-xs-4 detail-right">
                <img src="img/product/product{{activeIndex}}.jpg" class="img-responsive"/><br/>
                {{topics[activeIndex].n}}
                <p>

                <div class="alert-info">
                    21-25 ตค. 58
                </div>
                <div class="alert-success">
                    {{topics[activeIndex].v}} แก้ว
                </div>
                </p>


            </div>
            <div class="clearfix"></div>
        </div>

        <div class="summary">
            <div class="col-xs-6 summary-left">
                รวมค่าใช้จ่ายทั้งหมด
            </div>
            <div class="col-xs-4 summary-right">
                20,456
            </div>
            <div class="clearfix"></div>
        </div>

        <!--<button class="btn-default" onclick="capturePhoto();">Capture Photo</button> <br>-->
        <!--<button class="btn-default"  onclick="capturePhotoEdit();">Capture Editable Photo</button> <br>-->
        <!--<button class="btn-default"  onclick="getPhoto(pictureSource.PHOTOLIBRARY);">From Photo Library</button><br>-->
        <!--<button class="btn-default"  onclick="getPhoto(pictureSource.SAVEDPHOTOALBUM);">From Photo Album</button><br>-->
        <!--<img style="display:none;width:60px;height:60px;" id="smallImage" src="" />-->
        <!--<img style="display:none;" id="largeImage" src="" />-->


    </div>


    <div class="container-fluid page-inbox" style="height:500px" ng-show="page=='inbox'"
         onclick="$('#myNavmenu').offcanvas('hide')">
    </div>

    <div class="container-fluid page-qr" ng-show="page=='qr'" onclick="$('#myNavmenu').offcanvas('hide')">

        <!--<button style="width:300px;height:50px;" onclick="capturePhoto();">Capture Photo</button> <br>-->
        <!--<button style="width:300px;height:50px;"  onclick="capturePhotoEdit();">Capture Editable Photo</button> <br>-->
        <!--<button style="width:300px;height:50px;"  onclick="getPhoto(pictureSource.PHOTOLIBRARY);">From Photo Library</button><br>-->
        <!--<button style="width:300px;height:50px;"  onclick="getPhoto(pictureSource.SAVEDPHOTOALBUM);">From Photo Album</button><br>-->
        <button id="startCameraButton">xxxx</button>
        <img style="width:60px;height:60px;" id="originalPicture" src="" />
        <img style="width:60px;height:60px;" id="previewPicture" src="" />

        <!--<div class="camera">-->
            <!--<img src="img/qr.jpg">-->
        <!--</div>-->
        <!--<div class="crop"></div>-->
    </div>


    <div class="footer container-fluid">
        <div class="row">
            <div class="col-xs-6 foot-inbox" ng-click="page='inbox'">
                MR.Shake<br/>
                <span>2 NEWS UPDATE</span>
            </div>
            <div id="scan" class="col-xs-6 foot-qr" ng-click="page='qr'">
                SCAN QR CODE
            </div>
        </div>
    </div>
</div>

<!--<div class="app">-->
<!--<h1>Apache Cordova</h1>-->

<!--<div id="deviceready" class="blink">-->
<!--<p class="event listening">Connecting to Device</p>-->

<!--<p class="event received">Device is Ready</p>-->
<!--</div>-->
<!--</div>-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.mobile.custom.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/jasny-bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>


<script src="js/raphael-min.js"></script>
<script src="js/morris.js/morris.min.js"></script>
<script src="js/circles.min.js"></script>
<script src="js/chartist.min.js"></script>

<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="camera.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<!--<script type="text/javascript"-->
<!--src="http://192.168.1.35:8080/target/target-script-min.js#3ed6e640-75c1-11e5-940b-22000ba180de"></script>-->
</body>
</html>
