/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;/* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;/* prevent webkit from resizing text to fit */
    -webkit-user-select: none;/* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:


    
    
    
    
    -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:


    
    
    
    
    -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:


    
    
    
    
    -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #A7A7A7),
            color-stop(0.51, #E4E4E4)
    );
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*text-transform: uppercase;*/
    width: 100%;
    /* background-image: url(../img/bg.png); */
    background-size: cover;
    margin-top: 69px;
    margin-bottom: 60px;
}

/* Portrait layout (default) */
.app {
    background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.navbar-default {
    background-color: #143255;
    border: none;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-fixed-top {
    top: 12px;
}

nav#myNavmenu {
    width: 160px;
}

button.navbar-toggle.pull-left {
    background: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
}

nav#myNavmenu {
    background-color: #255792;
    color: white;
    border-color: #E7E7E7;
    z-index:1050;
}

.navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand {
    color: #FFF;
}

.navmenu-default .navmenu-nav > .active > a {
    color: #143255;
    font-weight: bold;
}

.navmenu-default .navmenu-nav > li > a {
    color: #FFF;
}

.box-view {
    background-color: #4462A2;
    color: #FFF;
}

.box-click {
    background-color: #1AB2E8;
    color: #FFF;
}

.box-redeem {
    background-color: #A48675;
    color: #FFF;
}

.box-top {

    text-align: center;
    height: 80px;
padding-top: 5px;}

.head-gap {
    background-color: #143255;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    height: 12px;
    z-index: 1040;
}

.foot-inbox {
    background-color: #133453;
    padding: 14px 0 0 61px;
    height: 54px;
    background-image: url("../img/button/inbox.png");
    background-size: inherit;
    line-height: 1;
    background-repeat: no-repeat;
}

.foot-qr {
    background-color: #066FA0;
    padding: 19px 0 0 40px;
    height: 54px;
    background-image: url("../img/button/qr.png");
    background-size: inherit;
    background-repeat: no-repeat;
}

.footer {
    bottom: 0px;
    position: fixed;
    width: 100%;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.foot-inbox span {
    font-size: 11px;
    font-weight: normal;
    color: #94c0d5;
    /* margin-top: -5px; */
}

.head-text {

    color: #FFF;
    display: block;
    padding: 14px 0 0 0;
    font-size: 16px;
    font-weight: bold;
}

.detail-right {
    background-color: #133453;
    height: 200px;
    padding: 5px;
    color:#FFF;
    text-align:center;
    line-height:1;
}
.detail-right p{
    margin:6px 0 0 4px;
}
.detail-right .alert-info{
    background-color:#FFF;
    width:80%;
    margin:auto;
    margin-bottom:4px;
    padding:4px 0;
    border-radius: 4px;
    color:#000
}
.detail-right .alert-success{
    background-color: #066FA0;
    width:80%;
    margin:auto;
    margin-bottom:4px;
    padding:4px 0;
    border-radius: 4px;
    color: #FFF;
}


.detail-left {
    background-color: #FFFFFF;
    height: 200px;
}

.detail {
    padding: 0 5px;
    margin-bottom: 10px;
}
.summary-left {
    color: #23415D;
    background-color: #C6C6C6;
    font-size: 14px;
    text-align: center;
    padding: 10px 0 0;
    height: 40px;
}

.summary-right {
    color: #DFE2E5;
    background-color: #066FA0;
    font-size: 22px;
    font-weight: bold;
    height: 40px;
    padding: 5px 0 0;
    text-align: center;
}
.summary {
    padding: 0 5px;
}

.graph{
    background-color: #FFF;
    height:100px;
}
.navmenu-default .navmenu-brand:hover {
    color: #FFF;
}
.circles-text{
 font-size:14px !important;   
 line-height:1 !important;
 margin-top:20px;
}
.circles-text span{
    font-weight:bold;
    font-size:12px !important; 
}
.graph div{
    overflow:scroll;
}


.ct-point {
    stroke: #066FA0;
    stroke-width:8px;
    /*stroke-dasharray: 10px 20px;*/
}
.ct-line {
    stroke-width: 1px;
}
#graph-view .ct-series-a .ct-point {
    stroke: #4462A2;
}
#graph-view .ct-series-a .ct-line {
    stroke: #4462A2;
}

#graph-click .ct-series-a .ct-point {
    stroke: #1AB2E8;
}
#graph-click .ct-series-a .ct-line {
    stroke: #1AB2E8;
}

#graph-redeem .ct-series-a .ct-point {
    stroke: #A48675;
}
#graph-redeem .ct-series-a .ct-line {
    stroke: #A48675;
}

li.tab {
    list-style: none;
    height: 24px;
    width: 24px;
    background-image: url(../img/triangle-24.png);
    padding: 0;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    margin-bottom: -5px;
}
.graph span.date{
    position:absolute;
    right:0;
    top:0;
    margin:3px

}
.topic{
    border-top:solid #EEE 1px;
    clear:both;
    margin-left:-5px;
    margin-right:-5px;
}
.topic:after{
    content:' ';
    display:table;
}

.topic.active{
    background-color:#EFEFEF;
    height:20px;
}

.k{
    display:block;
    height:20px;
    width:30px;
    text-align:right;
    padding:2px 5px 0 0;
    float:left;
}
.g{
    margin-top:4px;
    height:12px;
    background-color:aliceblue;
    float:left;
}
.active .g{
    outline:solid 1px #CCC;
    background-color: #86B0C3;
}
.v{
    display:none;
}
.active .v{
    display:block;
    width:20px;
    height:20px;
    padding:3px 0 0 4px;
    float:left;
}

.tri{
    background-image:url(../img/triangle-24-l.png);
    background-size:cover;
    display:none;
    width:20px;
    height:20px;
    float:right;
    margin:0 -8px 0 0;
}
.active .tri{
    display:block;
}
.crop{
    background-image:url(../img/crop.png);
    width: 500px;
    height: 600px;
    display:block;
    position: fixed;
    top:0;
    left:0;
    /* z-index: 1040; */
}